@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome !</h3>
    <img src="~/images/welcome-image.png" alt="Welcome to Your Shopping Adventure" style="max-width:100%;height:auto;">
<p>This is a demo of a online shopping website !!</p>
</div>
