@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is a message page</h1>
<p>This page was created to demonstrate how views are displayed with the help of controllers.</p>

